@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div id='crmWebToEntityForm' align='center'><meta http-equiv='content-type' content='text/html;charset = UTF-8'>  
<form action='https://crm.zoho.com/crm/WebToContactForm' name=WebToContacts1454875000000083047 method='POST' onsubmit='javascript:document.charset="UTF-8"; return checkMandatery()' accept-charset='UTF-8'>  
    <input type='text' style='display:none;' name='xnQsjsdp' value='d2106dca930abc1053686d8e55a3d3a7d7a2f1fe4d1557d8f7ab903d7d7b9058' />  
    <input type='hidden' name='zc_gad' id='zc_gad' value='' />  
    <input type='text' style='display:none;' name='xmIwtLD' value='4af2b62067defb77b4e936b9076c17eae54a264bfad73e884248fc5d83c22cfa' />  
    <input type='text' style='display:none;' name='actionType' value='Q29udGFjdHM=' /> 
    <input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;data.my.id' /> 
<br><table border=0 cellspacing=0 cellpadding='6' width=600 style='background-color:white;color:black'>
<tr><td colspan='2' align='left' style='color:black;font-family:Arial;font-size:14px;'><strong>Contact</strong></td></tr>
<br><tr><td nowrap='nowrap' align='left' style='font-size:12px;font-family:Arial;width:200px;'>Name<span style='color:red;'>*</span> </td>
<td style='width:250px;'><input type='text' style='width:250px;' maxlength='80' name='Last Name' /></td></tr>
<tr><td nowrap='nowrap' align='left' style='font-size:12px;font-family:Arial;width:200px;'>Organization </td>
<td style='width:250px;'><input type='text' style='width:250px;' maxlength='50' name='Department' /></td></tr><tr><td nowrap='nowrap' align='left' style='font-size:12px;font-family:Arial;width:200px;'>Email </td><td style='width:250px;'><input type='text' style='width:250px;' maxlength='100' name='Email' /></td></tr>
<tr><td nowrap='nowrap' align='left' style='font-size:12px;font-family:Arial;width:200px;'>Phone </td><td style='width:250px;'><input type='text' style='width:250px;' maxlength='50' name='Phone' /></td></tr><tr><td nowrap='nowrap' align='left' style='font-size:12px;font-family:Arial;width:200px;'>Message </td>
<td style='width:250px;'> <textarea style='width:250px;' name='Description' maxlength='1000' width='250' height='250'></textarea></td></tr><tr><td colspan='2' align='center' style='padding-top: 15px;'>
<input style='font-size:12px;color:black' type='submit' value='Submit' /> <input type='reset' style='font-size:12px;color:black' value='Reset' /> </td></tr></table>
<script>var mndFileds = new Array('Last Name'); var fldLangVal = new Array('Nama'); function reloadImg() { if (document.getElementById('imgid').src.indexOf('&d') !== -1) { document.getElementById('imgid').src = document.getElementById('imgid').src.substring(0, document.getElementById('imgid').src.indexOf('&d')) + '&d' + new Date().getTime(); } 
else { document.getElementById('imgid').src = document.getElementById('imgid').src + '&d' + new Date().getTime(); } } function checkMandatery() { var name = ''; var email = ''; for (i = 0; i < mndFileds.length; i++) { var fieldObj = document.forms['WebTos1454875000000083047'][mndFileds[i]]; 
if (fieldObj) { if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) { alert(fldLangVal[i] + ' cannot be empty'); fieldObj.focus(); return false; } else if (fieldObj.nodeName == 'SELECT') { if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') { alert(fldLangVal[i] + ' cannot be none'); fieldObj.focus(); return false; } } 
else if (fieldObj.type == 'checkbox') { if (fieldObj.checked == false) { alert('Please accept  ' + fldLangVal[i]); fieldObj.focus(); return false; } } try { if (fieldObj.name == 'Last Name') { name = fieldObj.value; } } catch (e) { } } } try { if ($zoho) { var LDTuvidObj = document.forms['WebToContacts1454875000000083047']['LDTuvid']; 
if (LDTuvidObj) { LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid(); } var firstnameObj = document.forms['WebToContacts1454875000000083047']['First Name']; if (firstnameObj) { name = firstnameObj.value + ' ' + name; } $zoho.salesiq.visitor.name(name); var emailObj = document.forms['WebToContacts1454875000000083047']['Email']; if (emailObj) { email = emailObj.value; $zoho.salesiq.visitor.email(email); } } } catch (e) { } }</script>  
</form></div>
